<div class="waper">

  <ul class="left" #left>
    <div class="shouqi" (click)="shouqi(left)">
      <p *ngIf="!hasShouQi">
        <span class="icon iconfont iconkaishi"></span>
        Palette
      </p>
      <span *ngIf="hasShouQi" class="icon iconfont iconjiantou_xiangyouliangci"></span>
      <span *ngIf="!hasShouQi" class="icon iconfont iconjiantou_xiangzuoliangci"></span>
    </div>
    <ng-container *ngIf="!hasShouQi">
      <li *ngFor="let nav of navList" (click)="toOpen(nav)" class="first">
        <div>
          <p>

            <span class="icon iconfont {{nav.icon}}"></span>
            {{nav.name}}
          </p>
          <p>
            <span *ngIf="!nav.open" class="icon iconfont iconxiangxiazhankai"></span>
            <span *ngIf="nav.open" class="icon iconfont iconxiangshangshouqi"></span>
          </p>
        </div>

        <ul *ngIf="nav.open">
          <li *ngFor="let navChildren of nav.children">
            <p>
              <span class="icon iconfont {{navChildren.icon}}"></span>
              {{navChildren.name}}</p>
          </li>
        </ul>

      </li>
    </ng-container>
  </ul>

  <div class="right">
    <p>
      <span class="icon iconfont iconkaishi"></span>
      Process
      <button (click)="addNew()">添加坐标</button>
    </p>
    <div (mouseup)="mouseupEvent($event)" (mousemove)="mousemoveEvent($event)"
      #huabu>

      <div class="forNew" *ngIf="addNewPoint">

        <label>图片：
          <input type="file" (change)="seefile1($event)">
          <button (click)="useIt()">确定</button>
        </label>

        <div id="ele"></div>
      </div>

      <point [mouseData]='mouseData' *ngFor="let imgUrl of pointList" [ImageData]='imgUrl'
        (mousedown)="mousedownEvent($event,huabu)"></point>

    </div>
  </div>
</div>
