<div class='logo1' data-mark="wap">
  <span class="isSpan" data-mark="point" draggable="true" (dragover)="dragoverFn($event)"
    (dragend)="ondragendFn($event)" (dragleave)="dragleaveFn($event)" (drop)="dropFn($event)"></span>
  <span class="isSpan" data-mark="point" draggable="true" (dragover)="dragoverFn($event)"
    (dragend)="ondragendFn($event)" (dragleave)="dragleaveFn($event)" (drop)="dropFn($event)"></span>
  <span class="isSpan" data-mark="point" draggable="true" (dragover)="dragoverFn($event)"
    (dragend)="ondragendFn($event)" (dragleave)="dragleaveFn($event)" (drop)="dropFn($event)"></span>
  <span class="isSpan" data-mark="point" draggable="true" (dragover)="dragoverFn($event)"
    (dragend)="ondragendFn($event)" (dragleave)="dragleaveFn($event)" (drop)="dropFn($event)"></span>
</div>
